<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reloj Analógico</title>
  </head>
  <body>
    <nav>
      <a href="../../index.html">Regresar</a>
    </nav>
    <div class="reloj-container">
      <h1>AGI135 - Reloj Analógico</h1>
      <p>Agujas: hora, minuto y segundo</p>

      <!-- Reloj dibujado con WebGL en un canvas. -->
      <canvas
        id="canvas"
        height="500"
        width="500"
        aria-label="Reloj analógico"
      ></canvas>
    </div>

    <!-- Script de control -->
    <script type="module" src="./js/control/03_reloj.js"></script>
  </body>
</html>
