<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../../js/boundary/06_imagenAI.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../../css/canvasDisplay.css" />
    <title>ImagenesAI</title>
  </head>
  <body>
    <nav>
      <a href="../../index.html">Regresar</a>
    </nav>
    <div class="layout">
      <!-- Columna izquierda -->
      <div id="controls" class="controls">
        <!-- Aquí se insertará el componente de etiquetas -->
      </div>
      <!-- Columna derecha -->
      <div class="canvas-container">
        <canvas id="canvas" height="800" width="800"></canvas>
      </div>
    </div>
  </body>
</html>
